= render '/shared/header'
.backgroundImage
.contentBox
  %a{href: @user.download_cv, target: "_blank"} Descargar Curriculum
  .m-box.o-boxPrincipal
    .headerBox
      %img{src: image_path("/assets/static/avatars/user-10.jpg"), alt: 'Photo Profile'}
      - puts @user.inspect
      %h1=raw "#{@user.name} <strong>#{@user.last_name}</strong>"
      .infoCandidate
        .iconMoreText
          %i.material-icons location_city
          %span= @user.city.description
        .iconMoreText
          %i.material-icons email
          %span= @user.email
        .iconMoreText
          %i.material-icons phone_iphone
          %span= @user.contact_number_with_format
    .bodyBox
      %h2 Sobre Mi
      %p.aboutMe= @user.about_me
      - @user.yield_if(@user.curriculum_vitae.travel_disponibility) do
        %span.additionalInformation Disponible para trabajar en otra ciudad
    .bodyBox
      %h2 Mis intereses
      .boxInterests
        .typeSkill
          %h4 Categorias de interes
          .contentSkills
            - @user.curriculum_vitae.job_categories.each do |job_category|
              %span.a-skill=job_category.description
        .typeSkill
          %h4 tipos de oferta de interes
          .contentSkills
            - @user.curriculum_vitae.offer_types.each do |offer_type|
              %span.a-skill= offer_type.description
        .typeSkill
          %h4 Modalidad de trabajo
          .contentSkills
            - @user.curriculum_vitae.work_modes.each do |work_mode|
              %span.a-skill= work_mode.description
        .typeSkill
          %h4 Tipos de acuerdo
          .contentSkills
            %span.a-skill= @user.curriculum_vitae.contract_type.description
    .bodyBox
      %h2 Habilidades
      .softSkills
        %h3 Habilidades blandas validadas
        - @user.curriculum_vitae.soft_skills.each do |soft_skill|
          %span.a-skill= soft_skill.description
      - if params[:tester].present?
        .boxSkills
          %h3 Habilidades tecnicas
          .skillSpecific
            %h4.nameSkill Marketing y ventas
            .contentTags
              %span.a-skill Redes sociales
              %h4.levelSkill Nivel Avanzado
          .skillSpecific
            %h4.nameSkill Belleza bienestar y sulud
            .contentTags
              %span.a-skill Redes sociales
              %h4.levelSkill Nivel Avanzado
      .boxLenguages
        %h3 Idiomas
        - @user.curriculum_vitae.languages_list.each do |language|
          .skillSpecific
            %h4.nameSkill=language.language.description
            %h4.levelSkill=language.level.description
    .bodyBox.boxAcademy
      %h2 Formacion academica
      = react_component('src/components/Cards/PublicProfile/Education', {defaultList: @user.data_education}, prerender: false)
    .bodyBox.boxAcademy
      %h2 Experiencia
      = react_component('src/components/Cards/PublicProfile/Experience', {defaultList: @user.data_experience}, prerender: false)
    %a{href: @user.download_cv, target: "_blank"} Descargar Curriculum
    .footerBox
      %p="La manera m치s f치cil, r치pida y econ칩mica de conseguir empleo."
= render '/shared/footer'
