%h1 Cuentanos un poco de tu experiencia

%h6 ¿Cuentas con experiencia?

= link_to('Si, quiero adicionarla', users_wizards_step_eight_path)
= link_to('No pero con disposición', users_wizards_step_nine_path)

= link_to('Siguiente', users_wizards_step_eight_path)

= link_to('Saltar', users_wizards_step_nine_path)
= link_to('Regresar', users_wizards_step_six_path)