%h1 Faqs
= link_to "Home", root_path
= link_to "Registro del candidato", new_user_registration_path
= link_to "Registro de la empresa", new_company_registration_path
= link_to "ofertas", offers_path
= link_to "Categorias de empresa", job_categories_path
= link_to "Empresas", companies_path
= link_to "Sign In", new_user_registration_path
