%h1 Regístrate ahora 

= form_for(:user, url: user_registration_path, method: :post, html: { id: :new_user} ) do |field|
  - if @user.errors.present?
    %lu
    - @user.errors.full_messages.each do |message|
      %li= message

  = field.label :name, "Nombre"
  = field.text_field :name

  = field.label :last_name, "Apellido"
  = field.text_field :last_name

  /#TODO Move this logic to other site
/  = field.select :document_type_id, @user.document_types_list.map { |type| [type.description, type.id] }, { prompt: "Seleccione Nacionalidad"}
/
/  = field.label :nationalities, "Nacionalidad"
/  = field.select(:nationality_ids, @user.nationalities_list.map { |nationality| [nationality.description, nationality.id] } ,{ prompt: "Seleccione Nacionalidad"}, { :multiple => true } )
/
/  = field.label :identification_number, "Numero de Documento"
/  = field.text_field :identification_number
/
/  = field.label :contact_number, "Numero de Contacto"
/  = field.text_field :contact_number
/
/  = field.submit("siguiente")
