%h1 Déjanos conocer tus habilidades
%h3 Brinda a las empresas información valiosa sobre ti.

= form_for(:user, url: users_step_six_path, method: :put, html: { id: :step_six } ) do |field|
  - if @user.errors.present?
    %lu
    - @user.errors.full_messages.each do |message|
      %li= message

  = field.fields_for(:curriculum_vitae) do |field|
    = field.label :soft_skill_ids, "Define tres habilidades blandas que destacarías de tu perfil*"
    = field.select(:soft_skill_ids, @user.soft_skills_list, { prompt: "Seleccione habiles blandas"}, { :multiple => true })

    = field.label :curriculum_vitae_technical_skills, "Define técnicas de acuerdo a tu perfil*"
    = field.fields_for(:curriculum_vitae_technical_skills) do |field|
      = field.select(:job_category_ids, @user.job_categories_list, { prompt: "Seleccione una categoria"})
      = field.select(:technical_skill_ids, @user.technical_skills_list, { prompt: "Seleccione una habilidad tecnica"})
      = field.select(:technical_skill_ids, @user.technical_skills_list, { prompt: "Seleccione una habilidad tecnica"})