= render '/shared/header'
%div.o-companiesListCandidades
  %div.m-mainContainer
    %div.a-title= @offer.title
    %div.m-tags
      - @offer.yield_if(@offer.immediate_start) do
        %span.a-tag__orange= t('.tags.immediate_start')
      - @offer.yield_if(@offer.location) do
        %span.a-tag__gray= @offer.location
      - @offer.categories.each do |category|
        %span.a-tag__aqua= category
    %div.m-detailsContainer
      %div.m-ditails
        %div.m-detailBox
          =t('.close_date')
          %span.a-detail= @offer.pretty_close_date
        %div.m-detailBox
          =t('Aplicaciones')
          %span.a-detail= @offer.pretty_applied_candidates
          - @offer.yield_if(@offer.pretty_not_interested_candidates) do
            %span.a-detail= @offer.pretty_not_interested_candidates
      %a{href: @offer.offer_path}
        %button
          %i.material-icons remove_red_eye
          %span= t('.buttons.visit_offer')

    %div.o-listCandidates
      %div.o-listCandidates__container.--desktop
        - @offer.list_applied_candidates.each_with_index do |candidate, index|
          %div.m-candidateBox{id: "candidate_#{index}", :class => "#{candidate[:current_state]}" }
            %img.a-avatar{src: candidate[:avatar]}
            %div.m-nameContainer
              %span.a-name= candidate[:name]
              - @offer.yield_if(candidate[:location]) do
                %div.locationWrapper
                  %i.material-icons room
                  %span.a-location= candidate[:location]
            - @offer.yield_if(candidate[:technical_skills]) do
              %div.m-skillsContainer
                %span.a-title--skills= t('.skills')
                %span= candidate[:technical_skills]
            %div.m-affinityPercentageContainer
              %span.a-affinityPercentage= "#{candidate[:affinity_percentage]}%"
              = react_component('views/companies/affinity_percentage_info', description: t('.tooltips.affinity_percentage') )
            %div.m-profileButtonContainer
              %a.watchProfileWrapper{href: candidate[:profile_path]}
                %button.--watchProfile= t('.buttons.visit_profile')
              %div.iconWrapper
                - @offer.yield_if(candidate[:current_state] == "interested") do
                  %i.material-icons thumb_up

      %div.o-listCandidates__container.--mobile
        - @offer.list_applied_candidates.each do |candidate|
          %a{href: candidate[:profile_path]}
          %div.m-candidateBox.--mobile
            %div.m-nameContainer.--mobile
              %span.a-name= candidate[:name]
              - @offer.yield_if(candidate[:location]) do
                %div.locationWrapper
                  %i.material-icons room
                  %span.a-location= candidate[:location]
            - @offer.yield_if(candidate[:technical_skills]) do
              %div.m-skillsContainer
                %span.a-title--skills Habilidades:
                %span= candidate[:technical_skills]
            %div.m-affinityPercentageContainer.--mobile
              %img.a-avatar{src: candidate[:avatar]}
              %div.m-affinityPercentageContainer__group.--mobile
                %span.a-affinityPercentage= "#{candidate[:affinity_percentage]}%"
                = react_component('views/companies/affinity_percentage_info', description: t('.tooltips.affinity_percentage') )
