= render '/shared/header'
%div.o-companiesListCandidades
  %div.m-mainContainer
    %div.a-title= @offer.title
    %div.m-tags
      -if @offer.immediate_start
        %span.a-tag__orange= t('.tags.immediate_start')
      -if @offer.location
        %span.a-tag__gray= @offer.location
      - @offer.categories.each do |category|
        %span.a-tag__aqua= category
    %div.m-detailsContainer
      %div.m-ditails
        %div.m-detailBox
          =t('.close_date')
          %span.a-detail= @offer.pretty_close_date
        %div.m-detailBox
          =t('Aplicaciones')
          %span.a-detail= @offer.pretty_applied_candidades
      %a{href: @offer.offer_path}
        %button
          %i.material-icons remove_red_eye
          %span= t('.buttons.visit_offer')

    %div.o-listCandidates
      %div.o-listCandidates__container.--desktop
        - @offer.list_applied_candidates.each do |candidate|
          %div.m-candidateBox
            %img.a-avatar{src: candidate[:avatar]}
            %div.m-detailsContainer
              %div.m-nameContaintainer
                %span.a-name= candidate[:name]
                -if candidate[:location]
                  %i.material-icons room
                  %span.a-location= candidate[:location]
              - if candidate[:technical_skills]
                %div.m-skillsContainer
                  %span.a-title--skills= t('.skills')
                  %span= candidate[:technical_skills]
            %div.m-affinityPercentageContainer
              %span.a-affinityPercentage= candidate[:affinity_percentage]
              = react_component('views/companies/affinity_percentage_info', description: t('.tooltips.affinity_percentage') )
            -#TODO Oscar Uncommnet when the profile view is complete
            -#%div.m-profileButtonContainer
            -#  %a{href: candidate[:profile_path]}
            -#    %button.--watchProfile= t('.buttons.visit_profile')

      %div.o-listCandidates__container.--mobile
        - @offer.list_applied_candidates.each do |candidate|
          -#TODO Oscar Uncommnet when the profile view is complete
          -#%a{href: candidate[:profile_path]}
          %div.m-candidateBox.--mobile
            %div.m-detailsContainer
              %div.m-nameContaintainer.--mobile
                %span.a-name= candidate[:name]
                -if candidate[:location]
                  %div
                    %i.material-icons room
                    %span.a-location= candidate[:location]
              - if candidate[:technical_skills]
                %div.m-skillsContainer
                  %span.a-title--skills Habilidades:
                  %span= candidate[:technical_skills]
            %div.m-affinityPercentageContainer.--mobile
              %img.a-avatar{src: candidate[:avatar]}
              %div.m-affinityPercentageContainer__group.--mobile
                %span.a-affinityPercentage= candidate[:affinity_percentage]
                = react_component('views/companies/affinity_percentage_info', description: t('.tooltips.affinity_percentage') )