%h1 Veamos tu formación académica
%h3 Brinda a las empresas información valiosa sobre ti.

%p= @user.registered_studies_message
- @user.registered_studies.each do |experience|
  %div= "* #{experience[0]}"

= form_for(:user, url: users_wizards_step_nine_path, method: :put, html: { id: :step_nine } ) do |field|
  = render 'shared/form_errors', source: @user

  = field.fields_for(:curriculum_vitae) do |field|
    = field.fields_for(:educational_level) do |field|
      = field.label :degree, "Título educativo*"
      = field.text_field :degree

      = field.label :institution_name, "Institución"
      = field.text_field :institution_name

      = field.label :start_date, "Fecha de inicio"
      = field.date_field :start_date
      = field.date_field :finish_date

      = field.label :ongoing_study, "Estudio en curso"
      = field.check_box :ongoing_study

      = field.label :city_id, "Ubicación"
      = field.select(:city_id, @user.cities_list, { prompt: "Seleccione una ubicacion"})

      = field.label :diploma, "Arrastra aquí tu diploma"
      = field.file_field :diploma

  = field.submit("Siguiente")

  %button{name: "add_other_study", type: 'submit', value: "1" } Agregar otro estudio

= link_to('Saltar', users_wizards_step_ten_path)
= link_to('Regresar', users_wizards_step_eight_path)