= render '/shared/header'
= react_component("src/components/FormsLayout/FormProgress", { value: (100 / 11 * 10) }, prerender: false)
%div.o-stepPage__mainContainer
  %div.m-container
    %span.a-title= t('.title')
    %div.m-informationCard
      %div.m-titles
        %span.m-titles__title= @educational_level.degree
        %span.m-titles__subtitle= @educational_level.institution_name
        %span= @educational_level.location
      %span.a-dividingLine
      %span.a-rangeOfTime= @educational_level.range_of_time

    %div.m-buttons
      %a{href: @educational_level.return_path}
        %button.--addElement
          = t('.add_other')
      %a{href: @educational_level.next_path}
        %button
          = t('.continue')