%h1= "Editar #{@offer.title}"
= simple_form_for @offer, url: admins_offer_path do |f|
  = f.input :id,                 value: @offer.id, as: :hidden
  = f.input :title,              value: @offer.title
  = f.input :vacancies_quantity, value: @offer.vacancies_quantity

  = f.simple_fields_for :age_range do |ar|
    = ar.input :to,       value: @offer.age_range_to
    = ar.input :from,     value: @offer.age_range_from
    = ar.input :offer_id, value: @offer.id, as: :hidden

  = f.input :offer_type_id,    collection: @offer.collection(OfferType), selected: @offer.offer_type_id, label_method: :first, value_method: :second
  = f.input :work_mode_id,     collection: @offer.collection(WorkMode), selected: @offer.work_mode_id, label_method: :first, value_method: :second
  = f.input :contract_type_id, collection: @offer.collection(ContractType), selected: @offer.contract_type_id, label_method: :first, value_method: :second

  = f.input :job_categories,   collection: @offer.collection(JobCategory), checked: @offer.job_category_ids, label_method: :first, value_method: :second, as: :check_boxes
  = f.input :work_positions,   collection: @offer.collection(WorkPosition), checked: @offer.work_position_ids, label_method: :first, value_method: :second, as: :check_boxes
  = f.input :sexes,            collection: @offer.collection(Sex), checked: @offer.work_position_ids, label_method: :first, value_method: :second, as: :check_boxes

  = f.button :submit

-#with_tag(:input, with: { name: 'offer[offer_age_range]',    type: "hidden" })
-#with_tag(:input, with: { name: 'offer[close_date]',         type: "text" })
-#with_tag(:input, with: { name: 'offer[immediate_start]',    type: "hidden" })

-#with_tag(:input, with: { name: 'offer[is_range]',         type: "hidden" })
-#with_tag(:input, with: { name: 'offer[currency_id]',      type: "hidden" })
-#with_tag(:input, with: { name: 'offer[from]',             type: "text" })
-#with_tag(:input, with: { name: 'offer[salary_period_id]', type: "hidden" })

-#with_tag(:input, with: { name: 'offer[available_work_day_ids][]', type: "hidden" })
-#with_tag(:input, with: { name: 'offer[working_day_ids][]',        type: "hidden" })
-#with_tag(:input, with: { name: 'offer[job_aid_ids][]',            type: "hidden" })

-#with_tag(:input, with: { name: 'offer[responsibility_ids][]',  type: "hidden" })
-#with_tag(:input, with: { name: 'offer[requirement_ids][]',     type: "hidden" })
-#with_tag(:input, with: { name: 'offer[vehicle_ids][]',         type: "hidden" })
-#with_tag(:input, with: { name: 'offer[driving_licence_ids][]', type: "hidden" })
-#with_tag(:input, with: { name: 'offer[city_id]',               type: "hidden" })
-#with_tag(:input, with: { name: 'offer[educational_degree_id]', type: "hidden" })
-#with_tag(:input, with: { name: 'offer[duration]',              type: "text" })
-#with_tag(:input, with: { name: 'offer[duration_type_id]',      type: "hidden" })
-#with_tag(:input, with: { name: 'offer[required_experience]',   type: "hidden" })

-#with_tag(:input, with: { name: 'offer[technical_skills][][technical_skill_id]', type: "hidden" })
-#with_tag(:input, with: { name: 'offer[technical_skills][][level_id]',           type: "hidden" })

-#with_tag(:input, with: { name: 'offer[languages][][language_id]', type: "hidden" })
-#with_tag(:input, with: { name: 'offer[languages][][level_id]',    type: "hidden" })
-#################################################################################################

-#= form_for @offer, url: admins_offer_path do |f|
-#  = f.hidden_field :form_authenticity_token, name: request_forgery_protection_token, value: form_authenticity_token
-#  = f.hidden_field :method, name: "_method", value: "put"
-#
-#  = f.label 'Title'
-#  = f.text_field :title
-#  %br
-#  = f.label 'Categorias de empleo'
-#  = f.select :job_categories, JobCategory.all.collect {|p| [ p.description, p.id ] }, {}, {:multiple => true, :selected => @offer.job_category_ids}
-#  = f.select :job_categories, options_for_select(JobCategory.all.pluck(:description, :id), selected: @offer.job_categories.pluck(:description, :id)), { multiple: true }
-#  %br
-#  = f.submit
-#-#= f.collection_select :job_categories, JobCategory.all, :id, :description, promnt: true, selected: @offer.job_category_ids, multiple: true
