= simple_form_for @offer, url: admins_offer_path, html: { class: 'basic_form' } do |f|
  %h1= "Editar #{@offer.title}"
  = f.input :id,                 value: @offer.id, as: :hidden
  = f.input :title,              value: @offer.title, label: t('offer.form.labels.title')
  = f.input :vacancies_quantity, value: @offer.vacancies_quantity, label: t('offer.form.labels.vacancies_quantity')
  = f.input :close_date, as: :date, order: [:day, :month, :year], value: @offer.close_date, label: t('offer.form.labels.close_date')
  = f.input :status, collection: ['active', 'expire'], selected: @offer.status, label: t('offer.form.labels.status')
  %div.input
    = f.label :immediate_start, label: t('offer.form.labels.immediate_start')
    = f.check_box :immediate_start,     value: @offer.immediate_start
  %div.input
    = f.label :immediate_start, label: t('offer.form.labels.required_experience')
    = f.check_box :required_experience, value: @offer.required_experience

  %div
    %span=t('offer.form.labels.age_range.label')
    %div.group
      = f.simple_fields_for :age_range do |ar|
        = ar.input :offer_id, input_html: { value: @offer.id }, as: :hidden
        = ar.input :to,       value: @offer.age_range_to,   input_html: { type: 'number' }, label: t('offer.form.labels.age_range.to')
        = ar.input :from,     value: @offer.age_range_from, input_html: { type: 'number' }, label: t('offer.form.labels.age_range.from')

  %div
    %span=t('offer.form.labels.offer_salary.label')
    %div.group
      = f.simple_fields_for :offer_salary do |os|
        = os.input :offer_id,         input_html: { value: @offer.id }, as: :hidden
        = os.input :to,               value: @offer.salary_to,   input_html: { type: 'number' }, label: t('offer.form.labels.offer_salary.to')
        = os.input :from,             value: @offer.salary_from, input_html: { type: 'number' }, label: t('offer.form.labels.offer_salary.from')
        %div.input
          = os.label :is_range, label: t('offer.form.labels.offer_salary.is_range')
          = os.check_box :is_range,     value: @offer.salary_is_range
        = os.input :currency_id,      collection: @offer.collection(Currency), selected: @offer.salary_currency_id, label_method: :first, value_method: :second, label: t('offer.form.labels.offer_salary.currency_id')
        = os.input :salary_period_id, collection: @offer.collection(SalaryPeriod), selected: @offer.salary_period_id, label_method: :first, value_method: :second, label: t('offer.form.labels.offer_salary.salary_period_id')

  %div
    %span=t('offer.form.labels.offer_required_experiences.label')
    %div.group
      = f.simple_fields_for :offer_required_experiences do |ore|
        = ore.input :offer_id,         input_html: { value: @offer.id }, as: :hidden
        = ore.input :duration,         value: @offer.required_experiences_duration, input_html: { type: 'number' }, label: t('offer.form.labels.offer_required_experiences.duration')
        = ore.input :duration_type_id, collection: @offer.collection(DurationType), selected: @offer.required_experiences_duration_type_id, label_method: :first, value_method: :second, label: t('offer.form.labels.offer_required_experiences.duration_type_id')

  %div
    %span=t('offer.form.labels.offers_technical_skills.label')
    %div.group
      = f.simple_fields_for :offers_technical_skills do |ots|
        = ots.input :offer_id,           input_html: { value: @offer.id }, as: :hidden
        = ots.input :technical_skill_id, collection: @offer.collection(TechnicalSkill), label_method: :first, value_method: :second, label: t('offer.form.labels.offers_technical_skills.technical_skill_id')
        = ots.input :level_id,           collection: @offer.collection(Level),          label_method: :first, value_method: :second, label: t('offer.form.labels.offers_technical_skills.level_id')

  %div
    %span=t('offer.form.labels.languages_offers.label')
    %div.group
      = f.simple_fields_for :languages_offers do |lo|
        = lo.input :offer_id,    input_html: { value: @offer.id }, as: :hidden
        = lo.input :language_id, collection: @offer.collection(Language), label_method: :first, value_method: :second, label: t('offer.form.labels.languages_offers.language_id')
        = lo.input :level_id,    collection: @offer.collection(Level),    label_method: :first, value_method: :second, label: t('offer.form.labels.languages_offers.level_id')

  = f.input :offer_type_id,    collection: @offer.collection(OfferType),    selected: @offer.offer_type_id,    label_method: :first, value_method: :second, label: t('offer.form.labels.offer_type_id')
  = f.input :work_mode_id,     collection: @offer.collection(WorkMode),     selected: @offer.work_mode_id,     label_method: :first, value_method: :second, label: t('offer.form.labels.work_mode_id')
  = f.input :contract_type_id, collection: @offer.collection(ContractType), selected: @offer.contract_type_id, label_method: :first, value_method: :second, label: t('offer.form.labels.contract_type_id')
  = f.input :city_id,          collection: @offer.collection(City),         selected: @offer.city_id,          label_method: :first, value_method: :second, label: t('offer.form.labels.city_id')
  = f.input :educational_degree_id, collection: @offer.collection(EducationalDegree), selected: @offer.educational_degree_id, label_method: :first, value_method: :second, label: t('offer.form.labels.educational_degree_id')

  %div
    %span=t('offer.form.labels.job_categories')
    %div.group
      = f.input :job_categories, collection: @offer.collection(JobCategory), checked: @offer.job_category_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.work_positions')
    %div.group
      = f.input :work_positions, collection: @offer.collection(WorkPosition), checked: @offer.work_position_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.sexes')
    %div.group
      = f.input :sexes, collection: @offer.collection(Sex), checked: @offer.sex_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.available_work_days')
    %div.group
      = f.input :available_work_days, collection: @offer.collection(AvailableWorkDay), checked: @offer.available_work_day_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.working_days')
    %div.group
      = f.input :working_days, collection: @offer.collection(WorkingDay), checked: @offer.working_day_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.job_aids')
    %div.group
      = f.input :job_aids, collection: @offer.collection(JobAid), checked: @offer.job_aid_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.responsibilities')
    %div.group
      = f.input :responsibilities, collection: @offer.collection(Responsibility), checked: @offer.responsibility_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.requirements')
    %div.group
      = f.input :requirements, collection: @offer.collection(Requirement), checked: @offer.requirement_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.vehicles')
    %div.group
      = f.input :vehicles, collection: @offer.collection(Vehicle), checked: @offer.vehicle_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  %div
    %span=t('offer.form.labels.driving_licences')
    %div.group
      = f.input :driving_licences, collection: @offer.collection(DrivingLicence), checked: @offer.driving_licence_ids, label_method: :first, value_method: :second, as: :check_boxes, label: false

  = f.button :submit, t('offer.form.buttons.save')
