%h1 Empecemos por conocernos

= form_for [@users] do |f|
  - if @users.errors.present?
    #error_explanation
      %h2= "#{pluralize(@users.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @users.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :last_name
    = f.text_field :last_name

  .field
    %select{ name: "users[:nationality]"}
      %option{value: "Colombia"} Colombia

  .field
    %select{ name: "users[:document_type]"}
      %option{value: "Cedula de ciudadania"} Cedula de ciudadania

  .field
    = f.label :document_number
    = f.text_field :document_number

  .field
    = f.label :contact_number
    = f.text_field :contact_number

  %button{type: "submit"} siguiente
