%div.main-wrapper
  %div.background
    %div.container
      %div.flex-box
        %h2= t('devise.passwords.edit.title') 
        %br/
        %p= t('devise.passwords.edit.description')
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = render "devise/shared/error_messages", resource: resource
          = f.hidden_field :reset_password_token
          .field
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
              %br/
            = f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: t('devise.passwords.edit.textbox.password')
          .field
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('devise.passwords.edit.textbox.password_confirmation')
          .actions
            %button{type: "submit"}= t('devise.passwords.edit.button')
        .divider
          %a{href: "/"}= t('devise.passwords.edit.link') 
