%div.main-wrapper
  %div.background
    %div.container-big
      %div.container-box
        %h2= t('devise.passwords.new.title')
        %br/
        %p= t('devise.passwords.new.description') 
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('devise.passwords.new.textbox')
          .actions
            %button{type: "submit"}= t('devise.passwords.new.button') 
        .divider
          %a{href: "/"}= t('devise.passwords.new.link') 
