- content_for(:title, I18n.t("meta_tags.offers.#{meta_tags_builders[:origin]}.index.#{meta_tags_builders[:content]}.title", city_name: meta_tags_builders[:city_name]))
- content_for(:meta_title, I18n.t("meta_tags.offers.#{meta_tags_builders[:origin]}.index.#{meta_tags_builders[:content]}.meta_title", city_name: meta_tags_builders[:city_name]))
- content_for(:meta_description, I18n.t("meta_tags.offers.#{meta_tags_builders[:origin]}.index.#{meta_tags_builders[:content]}.meta_description", city_name: meta_tags_builders[:city_name]))
- content_for(:meta_keywords, I18n.t("meta_tags.offers.#{meta_tags_builders[:origin]}.index.#{meta_tags_builders[:content]}.meta_keywords", city_name: meta_tags_builders[:city_name]))
