= render '/shared/header'
= react_component("src/components/FormsLayout/FormProgress", { value: FormProgressManager.calculate_user_progress(1) }, prerender: false)
= simple_form_for(current_user, url: users_wizards_step_zeros_curriculum_vitae_path, :html => { class: "upload_cv" }) do |f|
  %h1=t('info.title')
  %p=t('info.description')
  = f.file_field :file_cv
  = f.input :token,  as: :hidden, input_html: { name: request_forgery_protection_token, value: form_authenticity_token }
  = f.input :method, as: :hidden, input_html: { name: "_method", value: "post" }
  .actions
    = link_to(t('actions.return'), users_wizards_step_zero_path)
    = f.button :submit, t('actions.continue')
    = link_to(t('actions.skip'), users_wizards_step_one_path)
.background
