= link_to "Home", root_path
= link_to "Preguntas frecuentes", faqs_path
= link_to "Registro del candidato", new_user_registration_path
= link_to "Registro de la empresa", new_company_registration_path
= link_to "Ofertas", offers_path
= link_to "Categorias de empleo", job_categories_path
= link_to "Empresas", companies_path
= link_to 'Sign In', new_user_registration_path 
= link_to 'Sign In', new_user_registration_path
= react_component('src/views/main/home', {}, prerender: true)
