%h1 Busquemos las mejores ofertas
%h3 Brinda a las empresas información valiosa sobre ti.

= form_for(:user, url: users_step_four_path, method: :put, html: { id: :step_four } ) do |field|
  - if @user.errors.present?
    %lu
    - @user.errors.full_messages.each do |message|
      %li= message

  = field.label :state_id, "Departamento"
  %select{name: 'states' ,placeholder: "Seleccione departamento" }
    = @user.states_list.each do |option|
      %option{ value: option[1] }= option[0]

  = field.fields_for(:curriculum_vitae) do |field|
    = field.label :travel_disponibility, "Disponibilidad para trabajar en otra ciudades"
    = field.check_box :travel_disponibility

  = field.label :city_id, "Ciudad"
  = field.select(:city_id, @user.cities_list, { prompt: "Seleccione ciudad"})

  = field.label :vehicle_ids, "Cuentas con algún tipo de vehículo"
  = field.select(:vehicle_ids, @user.vehicles_list, { prompt: "Seleccione vehiculos"}, { :multiple => true })

  = field.label :driving_licence_ids, "Licencia de conducción requerida"
  = field.select(:driving_licence_ids, @user.driving_licences_list, { prompt: "Seleccione tipos de licencia"}, { :multiple => true })

  = field.submit("siguiente")
