%h1 Listing customers

%table
  %thead
    %tr
      %th Name
      %th Age
      %th Language
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.name
        %td= customer.age
        %td= customer.language
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Customer', new_customer_path
