- content_for(:title, I18n.t("meta_tags.offers.#{@offers[:origin]}.index.#{@offers[:content]}.title", city_name: @offers[:city_name]))

- content_for(:meta_title, I18n.t("meta_tags.offers.#{@offers[:origin]}.index.#{@offers[:content]}.meta_title", city_name: @offers[:city_name]))
- content_for(:meta_description, I18n.t("meta_tags.offers.#{@offers[:origin]}.index.#{@offers[:content]}.meta_description", city_name: @offers[:city_name]))
- content_for(:meta_keywords, I18n.t("meta_tags.offers.#{@offers[:origin]}.index.#{@offers[:content]}.meta_keywords", city_name: @offers[:city_name]))

= render '/shared/header'
= react_component('views/offers',
  {offers: @offers[:offers_list] || @offers,
    csrf_param: request_forgery_protection_token,
    csrf_token: form_authenticity_token,
    path_applied_offers: applied_offers_path,
    title_aditional_description: @offers[:adtional_title_description] || '',
    offer_translations: I18n.t("offers")}, prerender: false)
= render '/shared/footer'
