!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ht
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    %p.notice= notice
    %p.alert= alert
    = link_to "a", root_path
    = link_to "b", faqs_path
    = link_to "c", new_user_registration_path
    = link_to "d", new_company_registration_path
    = link_to "e", offers_path
    = link_to "f", job_categories_path
    = link_to "g", companies_path
    = link_to "h", new_user_registration_path
    = yield
