!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title HT
    = csrf_meta_tags
    = csp_meta_tag

    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-108065726-1"}

    / Crazy egg
    %script{:async => "async", :src => "//script.crazyegg.com/pages/scripts/0090/2467.js", :type => "text/javascript"}

    / Facebook pixel
    %noscript
      %img{:height => "1", :src => "https://www.facebook.com/tr?id=349189892310764&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'

    - if Rails.env.production?
      = render 'layouts/google_analytics'
      = javascript_pack_tag 'analytics/clientify_analytics'
      = javascript_pack_tag 'analytics/facebook_pixel'
      = javascript_pack_tag 'analytics/tag_manager'
  %body
    / Google Tag Manager (noscript)
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-MC7RKNG", :style => "display:none;visibility:hidden", :width => "0"}

    = yield
    
    = react_component('src/components/Notification/NotificationWrapper',
    {alert_message: alert,
    notice_message: notice}, prerender: false)

    - if Rails.env.production?
      = javascript_pack_tag 'analytics/chat_bot'
