!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ht
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    %p.notice= notice
    %p.alert= alert
    = link_to "Home", root_path
    = link_to "Preguntas frecuentes", faqs_path
    = link_to "Registro del candidato", new_user_registration_path
    = link_to "Registro de la empresa", new_company_registration_path
    = link_to "Ofertas", offers_path
    = link_to "Categorias de empleo", job_categories_path
    = link_to "Empresas", companies_path
    = link_to 'Sign In', new_user_registration_path
    = yield
