!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    =favicon_link_tag asset_path('favicon.ico')
    %title= yield(:title)

    = render 'shared/meta_tags'

    %meta{:name => "viewport", :content => "height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi"}

    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}

    = stylesheet_link_tag 'application', media: 'all'

    - if Rails.env.production?
      -# TODO Oscar uncommet when marketing require google analitycs again
      -# = render 'layouts/google_analytics'
      = javascript_pack_tag 'analytics/clientify_analytics'
      = javascript_pack_tag 'analytics/facebook_pixel'
      = javascript_pack_tag 'analytics/tag_manager'

      -# Facebook pixel
      %noscript
        %img{:height => "1", :src => "https://www.facebook.com/tr?id=349189892310764&ev=PageView&noscript=1", :style => "display:none", :width => "1"}

      -# Crazy egg
      %script{:async => "async", :src => "//script.crazyegg.com/pages/scripts/0090/2467.js", :type => "text/javascript"}

      -# Canonical
      %link{:href => "#{ENV['HT_PROTOCOL']}#{ENV['HT_DOMAIN']}#{(url_for(:page => params[:page])).chomp("/")}", :rel => "canonical"}/
  %body

    = yield

    = react_component('src/components/Notification/NotificationWrapper',
    {alert_message: alert,
    notice_message: notice}, prerender: false)

    - if Rails.env.production?
      -# Google Tag Manager (noscript)
      %noscript
        %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-MC7RKNG", :style => "display:none;visibility:hidden", :width => "0"}

    -# TOOD Oscar: uncommet the chatbot when the account is active again
    -# %div.m-chatBot--hiddenOnMobile
      -# = javascript_pack_tag 'analytics/chat_bot'

    = javascript_pack_tag 'application'
