!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"http-equiv"=>"content-security-policy",
          :content=>"default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self' 'unsafe-inline';"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title HT
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    -# - unless current_user
    -#   = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
    -# - else
    -#   = current_user[:name]
    -#   = link_to "Logout", destroy_user_session_path, method: :delete

    %p.notice{style: 'margin:0px; padding: 0px;'}
      = notice
    %p.alert{style: 'margin:0px; padding: 0px;'}
      = alert
    = yield
