!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HT
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    %h1=user_signed_in?
    - unless current_user
      = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
    - else
      = current_user[:name]
      = link_to "Logout", destroy_user_session_path

    %p.notice= notice
    %p.alert= alert
    = yield
